
<div class="conatainer">
<div class="main">
    <nav>
      <a routerLink="/">Observable </a>
      <a routerLink="of">of </a>
      <a routerLink="from">from </a>
      <a routerLink="fromEvent">fromEvent </a>
      <a routerLink="interval">Interval </a>
      <a routerLink="debounceTime">debounceTime </a>
      <a routerLink="map">Map </a>
      <a routerLink="filter">Filter </a>
      <a routerLink="distinct">distinct </a>

      
      <hr>
      <br>
      <a routerLink="custome-pipe">Custome Pipe </a>

      <hr>
      <br>
      <a routerLink="reactive-form">Reactive Form </a>

      
   
    </nav>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    
</div>
</div>
 