.main{
    display: flex;
    
    nav{
        width: 150px;
        background-color: #12344d;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        padding: 30px 15px;
        height: 100vh;
        overflow-y: scroll;
        a{
            color: #fff;
            text-decoration: none;
            display: block;
            padding:5px 0;
            font-size: 15px;
            &:hover{
                color: #e73e0b;
            }
        }
    }
    .content{
        width:calc(100% - 150px);
        margin:0 0 0 auto;
        padding:30px 30px;
    }
}

header{
    margin-bottom: 50px;
    a{
        padding-right: 30px;
    }
}

.counter{
    max-width: 200px;
    display: flex;
    p{
        width: 50px;
        line-height: 40px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

}

.product{
    max-width: 300px;
    &__image{
        height: 150px;
        background-color: #e73e0b;
    }
    &__name{
        font-size: 26px;
        line-height: 32px;
        color: #000;
    }
    &__content{
        padding:15px;
    }
    &__text{
        margin-bottom: 10px;
    }
    &__price{
        font-size: 18px;
        color: #6666;
        font-weight: bold;
    }
}