


<div class="container">
<div class="main">
    <nav>
      <a routerLink="/">Observable </a>
      <a routerLink="of">of </a>
      <a routerLink="from">from </a>
      <a routerLink="fromEvent">fromEvent </a>
      <a routerLink="interval">Interval </a>
      <a routerLink="debounceTime">debounceTime </a>
      <a routerLink="map">Map </a>
      <a routerLink="filter">Filter </a>
      <a routerLink="distinct">distinct </a>
      <a routerLink="skip">skip </a>
      <a routerLink="take">take </a>

      
      <hr>
      <br>
      <a routerLink="custome-pipe">Custome Pipe </a>

      <hr>
      <br>
      <a routerLink="reactive-form">Reactive Form </a>
      <a routerLink="ngZone">ngZone</a>
      <a routerLink="scss">scss</a>
      <a routerLink="auth">Authendication</a>
      <a routerLink="trackBy">trackBy *For</a>
      <a routerLink="chnage-Detection">chnage-Detection</a>
      <a routerLink="crud">CRUD Operations</a>

      

      
      
    </nav>
    <div class="content">
      <!-- <header> 
        <a routerLink="operators">Operators</a>
      </header> -->
        <router-outlet></router-outlet>
     
          <div class="card" *ngFor="let item of pagedata; let i=index">
        
            <table>
              <tr>
                <td style="min-width: 50px;"><p>{{i + 1}}</p></td>
                <td><p>{{item.name}}</p></td>
                <td><p>{{item.email}}</p></td>
              </tr>
            </table>

          </div>
         

        

    </div>
    
</div>
</div>
 