


<div class="container">
<div class="main">
    <nav>
      <a routerLink="/">Observable </a>
      <a routerLink="of">of </a>
      <a routerLink="from">from </a>
      <a routerLink="fromEvent">fromEvent </a>
      <a routerLink="interval">Interval </a>
      <a routerLink="debounceTime">debounceTime </a>
      <a routerLink="map">Map </a>
      <a routerLink="filter">Filter </a>
      <a routerLink="distinct">distinct </a>
      <a routerLink="skip">skip </a>
      <a routerLink="take">take </a>

      
      <hr>
      <br>
      <a routerLink="custome-pipe">Custome Pipe </a>

      <hr>
      <br>
      <a routerLink="reactive-form">Reactive Form </a>
      <a routerLink="ngZone">ngZone</a>
      <a routerLink="scss">scss</a>
      <a routerLink="auth">Authendication</a>
      <a routerLink="trackBy">trackBy *For</a>
      <a routerLink="chnage-Detection">chnage-Detection</a>
      <a routerLink="crud">CRUD Operations</a>

      

      
      
    </nav>
    <div class="content">
      <!-- <header> 
        <a routerLink="operators">Operators</a>
      </header> -->
        <router-outlet></router-outlet>
       

        <!-- <div class="product">
          <div class="product__image">
            <img src="">
          </div>
          <div class="product__content">
            <h2>Product name</h2>
            <p class="product__text">product__price product__price text example... </p>
            <p class="product__price">$ 125 </p>
          </div>
        </div>
          -->


          <div class="card" *ngFor="let item of pagedata">
        
            <p>{{item.name}}</p>

          </div>
         

        

    </div>
    
</div>
</div>
 